
## The agent implementation and addressing information 
agents:

  bb_agent:
    group: bb_group
    path: /users/[[DETER_USER]]/DETERLabTesting/tests/002/agents/bb.tar.gz
    execargs: []

  peers_agent:
    group: peers_group
    path: /users/[[DETER_USER]]/DETERLabTesting/tests/002/agents/peers.tar.gz
    execargs: []

## The mapping from the AAL procedure to the experiment apparatus 
groups:

  bb_group: [bb]

  peers_group: [aa, cc, dd]

streamstarts: [main, peers, cleanup]

eventstreams:

  main: 

      - type: event
        agent: bb_agent 
        trigger: config_done
        method: setConfiguration
        args:
            report_dir: /users/[[DETER_USER]]/DETERLabTesting/reports/002

      - type: trigger
        triggers: [{event: config_done, agent: bb_agent}]
      
      - type: trigger
        triggers: [{event: iperf_started}]

      - type: event
        agent: bb_agent 
        method: test002
        trigger: test002_complete
        args: {}

  peers:

      - type: event
        agent: peers_agent 
        method: start_iperf
        trigger: iperf_started
        args: {}
      
      - type: trigger
        triggers: [{event: test002_complete}]
      
      - type: event
        agent: peers_agent 
        method: stop_iperf
        trigger: iperf_stopped
        args: {}

  cleanup:
      - type: trigger
        triggers: [ {event: iperf_stopped, target: exit} ] 


################################################

